<div id="footer" class="container">
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <span class="mb-3 mb-md-0">&copy; Tüm Hakları Saklıdır. Demokrasi ve Hukuk Kulübü 2022</span>
    </div>
    <div class="col-md-4 sign align-items-center">
      <p>Designed by</p>
      <img src="images/sign.png" alt="Signature fonts">
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a target=”_blank” href="https://www.linkedin.com/in/furkan-boran-329719210/" class="fa-brands fa-linkedin"></a></li>
      <li class="ms-3"><a target=”_blank” href="https://furkanbey123.github.io/Resume/" class="fa-solid fa-user"></a></li>
    </ul>
  </footer>
</div>

</body>

</html>
