<%- include("header") -%>
<!-- Nav Bar Section-->
<section class="container-fluid nav-wraper" id="navbar">
  <!-- Nav Bar -->
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand logo" href="#"><i class="fa-solid fa-scale-balanced"></i> DEHUK</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#about-us">BİZ KİMİZ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#staff">KURUL</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects">PROJELERİMİZ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#insta-galeri">GALERİ</a>
        </li>
        <li class="nav-item-last">
          <a class="nav-link" href="#supporters">DAHA FAZLA</a>
        </li>
      </ul>
    </div>
  </nav>
</section>

<!-- Welcome Section With Video-->
<section id="welcome">
  <div class="video-container">

    <!-- Video-->
    <video autoplay="autoplay" loop="loop" muted defaultMuted playsinline oncontextmenu="return false;">
      <source src="images/istanbul-uni.mp4" type="video/mp4" />
    </video>


    <div class="caption-wraper">
      <div class="caption">
        <h1>DEMOKRASİ VE HUKUK</h1>
        <h1 style="margin-top:0;">KULÜBÜ</h1>
        <h4>İSTANBUL UNİVERSİTESİ</h4>
        <h5>HUKUK FAKÜLTESİ</h5>
      </div>

      <!-- Social Icons-->
      <div class="social-icons">
        <a href="https://www.instagram.com/istdehuk/" class="fa-brands fa-instagram" target=”_blank”></a>
        <a href="https://www.linkedin.com/company/istdehuk/" class="fa-brands fa-linkedin" target=”_blank”></a>
      </div>
    </div>
  </div>
</section>

<section id="about-us">
  <div class="container py-4">
    <div class="p-5 mb-4 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">BİZ KİMİZ?</h1>
        <p class="col-md-8 fs-4">Hukuku uğraş edinmenin hoşgörü ve fikirlere saygı çerçevesinde gerçekleştiğini bilen, adını sayılarla değil ortaya çıkardığı etkinliklerin kalitesiyle hatırlayacağınız, özgün projelerle üyelerinde akademik ve
          kültürel birikim oluşturmayı hedefleyen, farkındalık yaratmayı prestijli işlere imza atarak gerçekleştirmeyi kendinde sorumluluk gören, motivasyonunu geleceğe olan inancıyla birleştiren, Demokrasi ve Hukukun ayrılmaz bir bütün olduğuna
          inanarak kulüpçülük sistematiğine farklı bir bakış açısı getiren hukuk öğrencileriyiz.</p>
        <button class="btn btn-primary btn-lg" type="button"><a target=”_blank” href="https://www.instagram.com/istdehuk/">Daha Fazla</a></button>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div id="vizyonumuz" class="col-md-6">
        <div class="h-100 p-5 text-bg-dark rounded-3">
          <h2>VİZYONUMUZ</h2>
          <p>Üyelerimiz, partnerlerimiz ve güçlü sponsorlarımızla çıktığımız bu uzun yolculukta mezuniyet sonrasında hayatın olağan akışında da kendine rahatça yer bulabilen, kulüp içerisinde oluşturduğu etki alanını meslek hayatında
            kullanabilecek, aynı zamanda da mezunları ve üyeleriyle birlikte “geçmişi, şimdisi ve geleceği bir” olacak yapının çabası içerisindeyiz.</p>
        </div>
      </div>
      <div id="misyonumuz" class="col-md-6">
        <div class="h-100 p-5 text-bg-secondary rounded-3">
          <h2>MİSYONUMUZ</h2>
          <p>Yeni coşkumuzu geçmiş tecrübelerimizle birleştirerek üyelerimize üniversite hayatının sadece akademiden ibaret olmadığını gösterme gayretindeyiz. Kulübümüzde; sosyal alan arayışını sunduğumuz, daha önce yapılmamış projelerle ve
            kalifiye etkinliklerle temin edip kulübümüzü ve gençliğimizi anlamlandırmaya çalışıyoruz.</p>
        </div>
      </div>
    </div>
</section>

<section id="staff">
  <div class="container-fluid">
    <h2 class="staff-heading">YÖNETİM KURULU</h2>
    <!-- first row for cards-->
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-2 col-6 card-col">
        <div class="card mx-auto">
          <img class="profile-photo" src="images/staff/1.jpeg" alt="">
          <div class="card-body">
            <h4 class="card-text">HALİL AKSOY</h4>
            <h6 class="card-text">Yönetim Kurulu Başkanı</h6>
          </div>
          <div class="card-footer">
            <a target=”_blank” href="https://www.linkedin.com/in/halil-aksoy" class="fa-brands fa-linkedin"></a>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-6 card-col">
        <div class="card">
          <img class="profile-photo" src="images/staff/2.jpeg" alt="">
          <div class="card-body">
            <h4 class="card-text">NESLİHAN ÜLGER</h4>
            <h6 class="card-text">Yönetim Kurulu Başkan Yardımcısı</h6>
          </div>
          <div class="card-footer">
            <a target=”_blank” href="https://www.linkedin.com/in/neslihan-%C3%BClger-0224a11b9/" class="fa-brands fa-linkedin"></a>
          </div>
        </div>
      </div>
    </div>

    <!-- second row for cards-->
    <div class="row align-items-center justify-content-around">
      <div class="col-lg-2 col-6 card-col">
        <div class="card">
          <img class="profile-photo" src="images/staff/3.jpeg" alt="">
          <div class="card-body">
            <h4 class="card-text">AYÇA SEZGİN</h4>
            <h6 class="card-text">Tanıtım ve Sosyal Medya</h6>
          </div>
          <div class="card-footer">
            <a target=”_blank” href="https://www.linkedin.com/in/ay%C3%A7a-sezgin-718991201/" class="fa-brands fa-linkedin"></a>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-6 card-col">
        <div class="card">
          <img class="profile-photo" src="images/staff/4-modified.png" alt="">
          <div class="card-body">
            <h4 class="card-text">EBRAR BABAYİĞİT</h4>
            <h6 class="card-text">Kurumsal İletişim ve Sponsorluk</h6>
          </div>
          <div class="card-footer">
            <a target=”_blank” href="https://www.linkedin.com/in/ebrar-babayi%C4%9Fit-154b041b7/" class="fa-brands fa-linkedin"></a>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-6 card-col">
        <div class="card">
          <img class="profile-photo" src="images/staff/5.jpeg" alt="">
          <div class="card-body">
            <h4 class="card-text">HALİME SUEDA BARIŞ</h4>
            <h6 class="card-text">Sanal Akademi</h6>
          </div>
          <div class="card-footer">
            <a target=”_blank” href="https://www.linkedin.com/in/halime-sueda-bar%C4%B1%C5%9F-58634a23b/" class="fa-brands fa-linkedin"></a>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-6 card-col">
        <div class="card">
          <img class="profile-photo" src="images/staff/6.jpeg" alt="">
          <div class="card-body">
            <h4 class="card-text">BELEMİR AÇAN</h4>
            <h6 class="card-text">Akademi</h6>
          </div>
          <div class="card-footer">
            <a target=”_blank” href="https://www.linkedin.com/in/belemir-a%C3%A7an-bb1134211/" class="fa-brands fa-linkedin"></a>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-6 card-col">
        <div class="card">
          <img class="profile-photo" src="images/staff/8.jpeg" alt="">
          <div class="card-body">
            <h4 class="card-text">M.EMİN YAĞMUR</h4>
            <h6 class="card-text">Kültür ve Sosyal Etkinlik</h6>
          </div>
          <div class="card-footer">
            <a target=”_blank” href="https://www.linkedin.com/in/muhammed-emin-ya%C4%9Fmur-49b38119b/" class="fa-brands fa-linkedin"></a>
          </div>
        </div>
      </div>
    </div>

    <!-- third row for cards-->
    <div class="row align-items-center justify-content-around">
      <div class="col-lg-2 col-6 card-col">
        <div class="card">
          <img class="profile-photo" src="images/staff/9.jpeg" alt="">
          <div class="card-body">
            <h4 class="card-text">MEHMET DEMİR</h4>
            <h6 class="card-text">Organizasyon</h6>
          </div>
          <div class="card-footer">
            <a target=”_blank” href="https://www.linkedin.com/in/mdmehmetdemir/" class="fa-brands fa-linkedin"></a>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-6 card-col">
        <div class="card">
          <img class="profile-photo" src="images/staff/10.jpeg" alt="">
          <div class="card-body">
            <h4 class="card-text">MELİKCAN SARKANDI</h4>
            <h6 class="card-text">Genel Sekreter</h6>
          </div>
          <div class="card-footer">
            <a target=”_blank” href="https://www.linkedin.com/in/melik-can-sarkand%C4%B1-577154252/" class="fa-brands fa-linkedin"></a>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-6 card-col">
        <div class="card">
          <img class="profile-photo" src="images/staff/11.jpeg" alt="">
          <div class="card-body">
            <h4 class="card-text">FUAT SARI</h4>
            <h6 class="card-text">Genel Sekreter Yardımcısı</h6>
          </div>
          <div class="card-footer">
            <a target=”_blank” href="https://www.linkedin.com/in/fuat-sar%C4%B1-b27817197/" class="fa-brands fa-linkedin"></a>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-6 card-col">
        <div class="card">
          <img class="profile-photo" src="images/staff/12.jpeg" alt="">
          <div class="card-body">
            <h4 class="card-text">NAZLICAN YETİŞİR</h4>
            <h6 class="card-text">Genel Sekreter Yardımcısı</h6>
          </div>
          <div class="card-footer">
            <a target=”_blank” href="https://www.linkedin.com/in/nazl%C4%B1can-yeti%C5%9Fir-2430b9224/" class="fa-brands fa-linkedin"></a>
          </div>
        </div>
      </div>

      <div class="col-lg-2 col-6 card-col">
        <div class="card">
          <img class="profile-photo" src="images/staff/13.jpeg" alt="">
          <div class="card-body">
            <h4 class="card-text">SUDE SÖNMEZ</h4>
            <h6 class="card-text">Genel İletişim Sorumlusu</h6>
          </div>
          <div class="card-footer">
            <a target=”_blank” href="https://www.linkedin.com/in/sude-s%C3%B6nmez-8b3793211/" class="fa-brands fa-linkedin"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="projects">
  <div class="container marketing">
    <div class="projects-heading-wraper">
      <h2 class="projects-heading">PROJELERİMİZ</h2>
    </div>
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Meclis Simülasyonu</h2>
        <p class="lead">Meclis Simülasyonu Etkinliği genel anlamda; Anayasa’nın Yasama Organına ilişkin hükümlerini anlamak, İçtüzük hükümlerine vakıf olmak, yasa yapım sürecine bizatihi tanık olmak, hoşgörü ve uzlaşma ortamının ideal bir mecliste
          gerçekleşebileceğini göstermek ve teorikteki bilgileri pratikte uygulayarak öğrenmektir.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="images/meclis-simulasyonu.png" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Bilgi Yarışması</h2>
        <p class="lead">Kulübümüzce ilk defa düzenlencek olan bu yarışmada, hukuki konularda öğrencilerin bilgi seviyeleri test edilerek turnuva usulüyle birinci belirlenecektir. Bilgi Yarışması, öğrencilerin birlikte hareket etme, zamanı verimli
          şekilde kullanma ve karar verme becerilerini sınamalarına olanak verecek biçimde hazırlanacaktır. Yarışmaya, yalnızca hukuk fakültesi öğrencileri katılabilecektir.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" src="images/bilgi-yarismasi.gif" alt="Generic placeholder image">
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Sanal Akademi</h2>
        <p class="lead">Sanal Akademi, içerisinde İstanbul Hukuk ekolünü sürdüren, değişen ve gelişen dünyaya ayak uydurmak gibi hedefler barındıran bir öğrenci projesidir. Bu projedeki motivasyon kaynağımız günlük hayatta karşılaştığımız hukuki
          sorunlara sanal mecralardan cevap vermek ve hukukun üstünlüğü başta olmak üzere bir çok ilkenin bu yolla anlaşılmasını sağlama yolunda atacağımız anlamlı adımlarımızdır.</p>
      </div>
      <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="images/sanal-akademi.jpeg" alt="Generic placeholder image">
      </div>
    </div>
  </div>
</section>

<section id="insta-galeri">
  <div class="wraper">
  <div style="fill:white;" class="custom-shape-divider-top-1668989985">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
  </div>
  <div class="projects-heading-wraper">
    <h2 style="margin:0; margin-bottom:2%" class="staff-heading">INSTAGRAM GALERİ</h2>
  </div>
  <figure data-behold-id="7YZqTwVp4OfVmo3vy8aR"></figure>
  <section id="supporters">
    <div style="margin-top: 4%" class="projects-heading-wraper">
      <h2 class="staff-heading">SPONSORLARIMIZ VE BİOLİNK</h2>
    </div>
    <div class="container py-4">
      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-bg-secondary rounded-3">
            <h2>SPONSORLARIMIZ</h2>
            <div class="row align-items-center justify-content-center">
              <div class="col-6">
                <a target=”_blank” href="https://www.salthukuk.net/"><img src="images/logos/salt-hukuk-logo.webp" alt=""></a>
              </div>
              <div class="col-6">
                <a target=”_blank” href="https://unipubs.com/"><img style="border-radius:50%" src="images/logos/unipubs-logo.jpg" alt=""></a>
              </div>
              <div class="w-100"></div>
              <div class="col-6">
                <a target=”_blank” href="https://www.eofis.com.tr/"><img src="images/logos/eofis_logo.png" alt=""></a>
              </div>
              <div class="col-6">
                <a target=”_blank” href="https://www.hgmgumruk.com.tr/"><img src="images/logos/hgm-logo.png" alt=""></a>
              </div>
              <div class="w-100"></div>
              <div class="col-6">
                <a target=”_blank” href="https://digicertify.net/"><img style="width: 90%; height: 90%; max-width:fit-content; max-height:fit-content" src="images/logos/digi-logo.png" alt=""></a>
              </div>
              <div class="col-6">
                <a target=”_blank” href="https://www.etkinkampus.com/"><img style="width: 100%; height: 100%; max-width:fit-content" src="images/logos/etkinkampus-logo.png" alt=""></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 biolink text-bg-dark rounded-3">
            <h2>DAHA FAZLASI İÇİN TIKLA</h2>
            <ul>
              <% for (const [key, value] of Object.entries(biolinkCaptions)) { %>
              <li><a target=”_blank” href="<%=value%>"><%=key%></a></li>
              <% } %>
            </ul>
          </div>
        </div>
      </div>
  </section>
  <%- include("footer") -%>
</section>
</div>